@import "tailwindcss/base";
@import "tailwindcss/components";

@import "tailwindcss/utilities";

.theme-light {
  --bg-background-primary: white;
  --bg-background-secondary: #f7fafc;
  --bg-background-ternary: #434c5e;
  --text-copy-primary: #1f3c75;
  --text-copy-secondary: #e2e8f0;
}

.theme-dark {
  --bg-background-primary: #44475a;
  --bg-background-secondary: #282a36;
  --bg-background-ternary: #81a1c1;
  --text-copy-primary: #cbd5e0;
  --text-copy-secondary: #88c0d0;
}
